{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {%
include "layout.html" %} {% block content%}

<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Create blockchain(beta)</h4>
    </div>
    <div class="card-body">
        <img src="https://previews.dropbox.com/p/thumb/ABYB5ulBBe6ZJh8j56W0r2loOU2Cscz_2vVf6fHPmLUwswwWj6ko13qTHT7imvN2bIq-_Adykl3aTfcG7rke2ZsnKFyhqiMSvcXJRgo-gLqr2AxLx8XbbFl-nkkYrh1HsfvJNHvsEDECOxi4TM5ZpJQRDgFM5AYUn-rQS5txMCo9Oo78NvUwM08vsDXUgHSayEvQBBCjxTvkhkreLNXoAAf8haDy4E05E5Abz9q3pLSRhbMZlzIFXXdtqjRgYnczaDSd2g5yYqXPG4JzJQPyCPhuLg4D-4slKaWNDSMWXXjAaxlm2HwGbjWM8wTrI6wu75v9skyTEUhnnyMB5hlbxJ_AW6fU_yxEZZaJH25Ft2k8Dg/p.png" width="200" height="200"></img>
     
      <ul class="list-unstyled mt-3 mb-4">
        <li>Free and easy</li>
        <li>For Education</li>
        <li>everyone can see your data</li>
        <li>Use API</li>
      </ul>
      <a href="/createblockchain">
      <button type="button" class="w-100 btn btn-lg btn-primary" >Create blockchain</button>
    </a>
    </div>
  </div>
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal"> cryptocurrency code generator</h4>
    </div>
    <div class="card-body">
        <img src="https://previews.dropbox.com/p/thumb/ABaCPqYtzjoj3vBEUCxjvijGB1wWXtoEvaJ8wnBmSOWW6wDs6WE3giqzOszo6i7iRyoSoYDDvFHu6BIC0NlFE-FDmM-r9vj7HdKJSc6-YMfZJhQw08Z56w0lHZsyDa55cGoGglcZHspgrGwTzERn6E0FgwcsiHYD15r-IWL210VVZ2cD2zZN6xA5qP1jUGClOtRC0Xq6rziONxcy3-D3JTGPvy_SVL9L_EpCJ0klqiz5UoXQW1DtHrYs43Tjv90QWphCLlzzXKOX6YarPvnsdHzpb0VwrlG72PkU7aJL9OSoUUgFYfvcuwEYxAqX_T1bcxIaKyqKKXJ8GgHo7YJIALRruYyndm3VGytv-9iTqjFHlQ/p.png" width="200" height="200"></img>
      <ul class="list-unstyled mt-3 mb-4">
        <li>just code generator</li>
        <li>for make your cryptocurrency</li>
        <li>code form <a href="https://github.com/ChrisTitusTech/create-bsc-token"> ChrisTitusTech </a></li>
      </ul>
      <a href="/createcryptocurrency">
      <button type="button" class="w-100 btn btn-lg btn-primary" href="/create">Create cryptocurrency</button>
    </a>
    </div>
  </div>
{% endblock %}
